*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.lista{
  display: flex;
}
.pirelli{
  text-align: center;
}
.imagen_pirelli{
  background-size: contain;
}
.background{
  display: flex;
    justify-content: center;
}