*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.greeting{
  text-align: center;
  text-transform: uppercase;
  color: red;
}
